/* Fichier css du module interface.js 
crée le 14/04/2026
mofifier le 16/04/2026 nouveau nom interface .css
regroupe toutes les régles de lazone interface qui comprend infos monde et infos base
dans le 3 étapes
*/

 /* début des Régles definissant la zone interface */
#interface{
    width: inherit;
    height: 235px;
    display: flex;
    flex-direction: row;
    position: relative;
}
#infos_monde, #infos_base {
    padding: 10px;
    /* overflow: auto; */
    width: 47%; 
    background-color: var(--blanc_bleu);  
}
#infos_monde{
     border-left: 20px solid var(--bleu);
}

#infos_base{
    border-right: 20px solid var(--bleu);
    overflow-y: auto;
}
 /* fin des Régles definissant la zone interface */

/* debut des régles de info base etape 3 */
#affiche_monde {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 22%;
    height: 135%;
}
#affiche_monde > div {
    border: 2px solid  var(--bleu);
    border-radius: 5px;
    background-color: var(--gris);
    padding: 1em;
    color: var(--blanc);
    text-align: center;
}
#zone_1, #zone_3, #zone_4 {
    grid-column: 1 / 4;
}
#zone_2, #zone_5 {
     grid-column: 4 / 5;
}
#zone_1, #zone_5 {
    grid-row: 1;
}
#zone_2 {   
    grid-row: 2/4;
}
#zone_3 {
    grid-row: 2;
}
#zone_4 {
    grid-row: 3;
}
 #zone_5{
    padding: 0 !important;
    padding-top: 7px !important;
 }
/* ne doit pas servir a verifier*/
/*#age_monde, .text_mond {
    bottom: 13px;
    position: relative;
    text-align: center;
}*/
#affich_age_monde, #affich_heur_monde, #affich_txt_avat,.txt_rouge{
    font-family: digital;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--rouge);
    /* padding-left: 25px; */
}
#zone_2 img {
    width: 90%;
}
/* fin des régles pour infos monde étape 3*/

/* debut des regles css pour interaction avatar */
#interaction_avatar {
    width: 100%;
    position: relative;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid var(--bleu);
}
#interaction_avatar td{
    border: 1px solid var(--bleu) ;
    width: 50%;
    text-align: center;
}
#interaction_avatar #trt_action_avatar, #interaction_avatar #bout_action_gauch, #interaction_avatar #bout_action_droit{ height: 15%;}
#interaction_avatar #ctrl_text, #interaction_avatar #ctrl_diag {
    height: 70%;
}
#bntCentarge {
    background-color: #3346cc;
    color: white;
    height: 60px;
}
