
/* Début des régles pur la zone monde */
#monde {
    height: 331px;
    /* border: 1px solid var(--blanc); */
    overflow: hidden;
    position: relative;
}
.monde_flex{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
/* début de la vue connection enregistrement etape 0 */
#inscrip_index, #civil {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#zon_conex , #zon_enreg{
    width:50%;
    overflow-y: auto;
    background-color: var(--gris-blanc);
}
/* regle suprimée 16/04/2026 */
/* #affiche_conex{
    padding-left: 10px;
} */

/* a verifier si cette regle sert bien a quelque chose */
#inscrip_index input , #civil input{
    border: 1px solid var(--bleu);
    margin: 0 0 20px 0;
}
/* a verifier s'il sert encore 14/04/2026 */
/* .retour_erreur{
    color: var(--rouge);
    font-weight: bold;
    text-align: center;
} */

/* plusutiliser mais avec le cms du collectif en version test 16/04/2026 */
/* #inscrip_index{
    padding-top: 2rem; 
} */
/* enlever cette regle le 16/04/2026 */
/* #inscrip_index label{
    margin-left: 20px;
    font-size: 1.1rem;
} */

/* a verifier s'il sert encore 14/04/2026 */
/* #affiche_erg{
    justify-content: space-between;
} */
/* fin des regle de la vue connection enregistrement etape 0 */

/* debut des régles pour la vue tirage étape 1  */
.creation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    text-align: left;
}
#tirage_age {
    position: relative;
    margin: 0 auto;
    top: 10px;
}
.box {
    width: 100px;
    height: 30px;
    border: 1px solid var(--bleu);
    font-size: 16px;
    color: var(--noir);
    text-align: center;
    background-color: var(--blanc);
    border-radius: 5px;
    box-shadow: 4px 4px var(--gris);
}
#affiche_erg p{
    margin: 20px 0 0 0;
}
#tirage_age input{
    position: relative;
    left: 16px;
    top: 3px;
}
/* a verifier si cette regle sert bien a quelque chose  */
#don_caract{
    top: 10px;
}
/* pour afficher le resultat des aptitudes */
#affiche_erg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* debut des regles pour les vues création image de l'avatar etape 2 */
#creat_avatar, #zonne_table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
#nav_avatar, #couleur {
    position: relative;
    width: 25%;
}
#zone_img_avatar img {
    width: 200px;
}
.dessin {
    position: absolute;
    left: 194px;
    top: 32px;
}
#zon1-erg, #zon2-erg {
    margin: 57px 0 0 30px;
    width: 50%;
}
.carre {
    position: relative;
    width: 30px;
     height: 30px;
     cursor: pointer;
}
#tab_accesoire , #tab_accesoire td{
    margin: 0 auto;
    /* border: 1px solid var(--bleu_franc); */
    border: 1px solid var(--bleu);
    background-color: var(--grisblanc);
}
#tab_accesoire td img{
    width: 65px;
}
#couleur li {
    cursor: pointer;
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
/* regles pour le monde étape 3 */


#zone_souris {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    cursor: move;
    z-index: 1;
}
#img-monde{
    position: relative;
    z-index: 0;
    display: none;
}
.avatar{
    position: absolute;
	top: 224px;
}
.bulle{
    top: 107px;
    width: 150px;
    height: 78px;
    background: #bae1ec;
    position: absolute;
    border-radius: 10px;
    z-index: 11;
    display: none;
    padding: 10px;
}
.bulle_gauche{
    top: 107px;
    width: 150px;
    height: 78px;
    background: #bae1ec;
    position: absolute;
    border-radius: 10px;
    z-index: 11;
    display: none;
    padding: 10px;
}
.bulle_droite{
    top: 107px;
    width: 150px;
    height: 78px;
    background: #bae1ec;
    position: absolute;
    border-radius: 10px;
    z-index: 11;
    display: none;
    padding: 10px;
}
/* .bulle:before{
    content: "";
    position: absolute;
    left: 40px;
    top: 98px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-top: 26px solid #bae1ec;
    border-right: 11px solid transparent;
    display: block;
} */
.bulle_droite:before {
    left: 14px;
    content: "";
    position: absolute;
    top: 98px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-top: 26px solid #bae1ec;
    border-right: 11px solid transparent;
    display: block;
}
.bulle_gauche:before {
    left: 125px;
    content: "";
    position: absolute;
    top: 98px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-top: 26px solid #bae1ec;
    border-right: 11px solid transparent;
    display: block;
}