
/* appel des fichiers css pour les modules */
@import url(monde.css);
@import url("boutiques.css");
@import url("interface.css");
@import url(infos_avatar.css);
@import url(popups.css);
@import url(tableau-bord.css);
/* Début des regles class pour tout le site */
/* le bouton se base sur connection etape 0 */
.bouton {
    position: relative;
    width: 130px;
    margin: 15px auto;
    height: 40px;
    font-size: 1rem;
    display: block;
}
#info-log input[type="button"]:hover, .bouton:hover {
    background-color: var(--vert);
}
#info-log input[type="button"] {
    margin-left: 30px;
    padding-top: 4px;
    border-radius: 5px;
    border:1px solid var(--bleu);
}
/* Ce bouton se base sur fermeture poup cookie ou d'autres a verifié */
.btn_cookie {
    position: absolute;
    bottom: 10px;
    width: 125px;
    left: 45%;
    background-color:var(--bleu);
    color:var(--blanc);
    border-radius: 5px;
}
/* cette regle s'utilise avec un <p> est vient de la zone interface etape 0 a vérifié! */
.texte {
    padding: 15px;
    text-align: justify;
}
.titre_from {
    margin: 10px;
    text-align: center;
}
.zonne_txt {
    width: 95%;
    margin: 0 auto;
}
/* Fin des regles class pour tout le site */

body{
    margin: 0;  
    width: 100%;
    height: 100%;
    background-color: var(--gris-clr);
    font-size: 1.2rem;
}
main {
    width: 1200px;
    position: relative;
    margin: 30px auto 0 auto;
    z-index: 1;
    background-color: var(--blanc);
}
/* Début des régles pour l'header */
header {
    color: var(--blanc);
    height: 50px;
    background-color:var(--bleu);
    position: relative;
    top: 0px;
    width: inherit;
}
header h1 {
    font: bold 1.8rem arial;
    position: relative;
    text-align: center;
    padding:5px;
    margin:0px;
}

/* Début des régles communes zone monde zt zone interface*/
.separ_monde{
    width: 20px;
    background-color: var(--bleu);
}

/* Début des régles pour afichage central du monde */
#dialog_retour {
    position: relative;
    display: block;
    height: 20px;
    border: 2px solid var(--rouge);
    background-color: var(--noir);
    color: var(--blanc);
    z-index: 1;
    text-align: center;
}
#control{
    height: 25px;
    background-color:var(--bleu);
    border-top: 1px solid var(--blanc);
    position: relative;
    z-index: 2;
}
#control p{
    color: var(--blanc);
    text-align: center;
    font-style: italic;
    margin-top: 2px;
}
#popup_cookie {
    margin-left: 60px;
}
/* ne doit pas servir a verifier*/
#info-erg p {
    text-align: justify;
    padding: 0 10px;
}


/* Début regles communes pour étapes 0 à 2 a retrier plus atrd 14/04/2026 */

#zon_form{
    padding: 0 5px;
}
    /* voir si cette regle sert vraiment ca décale la barre centrale! */
/* #zon_enreg {
    padding-left: 10px;
} */






#info-log {
    text-align: center;
    color:var(--blanc);
    padding-top: 1px;
}
.boite_flex{
    padding-left: 3px;
}
.pos-dep-avatar{
    position: absolute;
    top: 224px;
    z-index: 10;
}
footer {
    color: var(--blanc);
    font-style: italic;
    text-align: center;
    /* border-top: 1px solid var(--blanc); */
    background-color: var(--bleu);
    font-size: 0.8rem;
    height: 17px;
    position: relative;
    width: inherit;
    padding-top: 3px;
}
footer a {
    text-decoration: none;
    color: var(--blanc);
}


/* regles non trouvées sur le site 17/04/2026 */
#nav_avatar .opt_des{
    cursor: pointer;
}


#titre_inter_avat{
    height: 30px;
    text-align: center;
}
/* #info_avatar tbody th:nth-child(1) {
    width: calc(100/3);
}
#info_avatar tbody th:nth-child(2) {
    width: calc(100/3);
} */
#info_avatar textarea {
    resize: none;
    margin-left: 4px;
    width: 80%;
    height: 70%;
}
#ctrl_diag label {
  font:0.8rem 'Fira Sans', sans-serif;
}
#ctrl_diag input {
  margin: 0.4rem;
}
#info_avatar button{
    position: relative;
    margin: 0 auto;
    display: block;
    height: 32px;
    width: 126px;;
}
#ctrl_diag fieldset {
    border: none;
    position: relative;
    left: 3px;
    top: -11px;
}
#potoavat {
    position: absolute;
    left: 38px;
    top: 82px;
}
/* #zondialogavat #dialogue_avatar {
    left: 10px;
    top: -35px;
    position: relative;
    width: 335px;
    height: 130px;
    background-color: var(--gris-blanc);
    border: 2px solid var(--bleu);
} */
#img_terminal {
    position: absolute;
    z-index: 100;
    top: 3px;
    left: 317px;
 
}
#dialog_avat {
    position: relative;
    left: 26px;
    border: 2px solid var(--bleu);
}



